<header class="header">
  <nav class="header__nav">
    <ul class="nav__ul">
      <li class="ul__li"><a href="#" class="li__a marked">Portfolio</a></li>
      <ul class="ul">
        <li class="ul__li"><a href="#" class="li__a uppercase">About me</a></li>
        <li class="ul__li"><a href="#" class="li__a uppercase">Portfolio</a></li>
        <li class="ul__li"><a href="#" class="li__a download uppercase">Download CV</a></li>
      </ul>
    </ul>
  </nav>
</header>