<div class="cards">
    <div class="cards__card">
        <img src="./assets/images/stopwatch.svg" alt="On time" class="card__icon">
        <h3 class="card__title">On time</h3>
        <p class="card__desc">All i want to have client setisfaction & this is my aim</p>
        <button class="card__learnMore">Learn more</button>
    </div>
    <div class="cards__card">
        <img src="./assets/images/safe-box.svg" alt="Clean work" class="card__icon">
        <h3 class="card__title">Clean work</h3>
        <p class="card__desc">All i want to have client setisfaction & this is my aim</p>
        <button class="card__learnMore">Learn more</button>
    </div>
    <div class="cards__card">
        <img src="./assets/images/icon.svg" alt="Client setisfaction" class="card__icon">
        <h3 class="card__title">Client setisfaction</h3>
        <p class="card__desc">All i want to have client setisfaction & this is my aim</p>
        <button class="card__learnMore">Learn more</button>
    </div>
</div>