<header class="header">
  <div class="header__wrapper">
    <a href="#" class="wrapper__logo">BENJAMIN'S PORTFOLIO</a>
    <nav class="wrapper__nav">
      <ul class="nav__ul">
        <li class="ul__li"><a href="#" class="li__a active">HOME</a></li>
        <li class="ul__li"><a href="#" class="li__a">ABOUT</a></li>
        <li class="ul__li"><a href="#" class="li__a">PORTFOLIO</a></li>
        <li class="ul__li"><a href="#" class="li__a">BLOG</a></li>
        <li class="ul__li"><a href="#" class="li__a">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
