<header class="desktop__nav">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</header>

<header class="mobile__nav" id="mobile__nav">
  <a href="#">Home</a>
  <a href="#">News</a>
  <a href="#">Contact</a>
  <a href="#">About</a>
  <a href="#" class="icon" onclick="myFunction()">
    <span class="burgerMenu"></span>
    <span class="burgerMenu"></span>
    <span class="burgerMenu"></span>
  </a>
</header>