<header class="nav" id="nav">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <span class="burgerMenu"></span>
    <span class="burgerMenu"></span>
    <span class="burgerMenu"></span>
  </a>
</header>