<section class="profil">
  <div class="image__circle">
    <img
      src="./assets/images/profile-placeholder.png"
      alt="Profil"
      class="profil__img"
    />
  </div>
</section>
<img src="./assets/images/MYWORK.svg" alt="" class="myWork-banner">
