<section class="profil">
  <div class="image__circle">
    <img
      src="./assets/images/profile-placeholder.png"
      alt="Profil"
      class="profil__img"
    />
  </div>
</section>
<img src="./assets/images/TEXT.svg" alt="My Work Banner. I am a web developer" class="myWork-banner">
<section class="followMe">
  <p class="followMe-text uppercase">Follow me on: </p>
  <div class="followMe-line"></div>
  <img src="./assets/images/Facebook-icon.svg" alt="Facebook" class="followMe-icon">
  <img src="./assets/images/Linkedin-icon.svg" alt="Linkedin" class="followMe-icon">
</section>