<section class="projects">
  <h1 class="projects__title">My Portfolio</h1>
  <p class="projects__subTitle">Web</p>
  <div class="projects-imageContaner">
    <div class="projects__image-contaner">
      <img
        src="./assets/images/CPH-Architects.png"
        alt="cph architects"
        class="image__website"
      />
      <div class="image-content">
        <h3 class="image-title">CPH Architects (Grundforløb)</h3>
        <p class="image-desc">
          Writing paragraphs takes practice, but what should students write
          about? Good paragraph writing prompts allow students to write about
          what they know and like, so their focus can be on the writing process
          and using the four essential elements.
        </p>
      </div>
    </div>
    <div class="projects__image-contaner">
      <img
        src="./assets/images/Dinuddannelse.jpg"
        alt="Din uddannelse"
        class="image__website"
      />
      <div class="image-content">
        <h3 class="image-title">Dinuddannelse (Grundforløb)</h3>
        <p class="image-desc">
          Writing paragraphs takes practice, but what should students write
          about? Good paragraph writing prompts allow students to write about
          what they know and like, so their focus can be on the writing process
          and using the four essential elements.
        </p>
      </div>
    </div>
    <div class="projects__image-contaner">
      <img
        src="./assets/images/sublime.jpg"
        alt="sublime"
        class="image__website"
      />
      <div class="image-content">
        <h3 class="image-title">sublime (Grundforløb)</h3>
        <p class="image-desc">
          Writing paragraphs takes practice, but what should students write
          about? Good paragraph writing prompts allow students to write about
          what they know and like, so their focus can be on the writing process
          and using the four essential elements.
        </p>
      </div>
    </div>
    <div class="projects__image-contaner">
      <img
        src="./assets/images/DUSKO-Light.png"
        alt="DUSKO Light"
        class="image__website"
      />
      <div class="image-content">
        <h3 class="image-title">DUSKO Light (Grundforløb)</h3>
        <p class="image-desc">
          Writing paragraphs takes practice, but what should students write
          about? Good paragraph writing prompts allow students to write about
          what they know and like, so their focus can be on the writing process
          and using the four essential elements.
        </p>
      </div>
    </div>
    <div class="projects__image-contaner">
      <img src="./assets/images/Karma.jpg" alt="Karma" class="image__website" />
      <div class="image-content">
        <h3 class="image-title">Karma (Grundforløb)</h3>
        <p class="image-desc">
          Writing paragraphs takes practice, but what should students write
          about? Good paragraph writing prompts allow students to write about
          what they know and like, so their focus can be on the writing process
          and using the four essential elements.
        </p>
      </div>
    </div>
    <div class="projects__image-contaner">
      <img
        src="./assets/images/SproofyMusic.png"
        alt="Sproofy Music"
        class="image__website"
      />
      <div class="image-content">
        <h3 class="image-title">Sproofy Music (Hovedforløb)</h3>
        <p class="image-desc">
          Writing paragraphs takes practice, but what should students write
          about? Good paragraph writing prompts allow students to write about
          what they know and like, so their focus can be on the writing process
          and using the four essential elements.
        </p>
      </div>
    </div>
  </div>
</section>
