<section class="testimonial">
  <h1 class="testimonial__title">Valuable Testimonial</h1>
  <p class="testimonial__subTitle">See People Say About Me</p>
  <div class="testimonial__content">
    <div class="content__blue-bg"></div>
    <div class="content__bg">
        <div class="content-circle">
            <img
              src="./assets/images/profile-placeholder.png"
              alt="Profile placeholder"
              class="content__logo"
            />
        </div>
      <h2 class="content__title">Jhon Wick, New York</h2>
      <p class="content__text">
        Writing paragraphs takes practice, but what should students write about?
        Good paragraph writing prompts allow students to write about what they
        know and like, so their focus can be on the writing process and using
        the four essential elements.
      </p>
    </div>
  </div>
</section>
