<% include ../partials/head %> <% include ../partials/nav %>
<main class="main">
    <section class="main__overlay">
        
    </section>
    <% include ../partials/profil %>
</main>
<% include ../partials/after-footer %>
