<% include ../partials/head %> <% include ../partials/header %>
<main class="main">
    <section class="main__overlay">
        
    </section>
    <% include ../partials/profil %>
</main>
<% include ../partials/learnMore %>
<% include ../partials/projects %>
<% include ../partials/testimonial %>
<% include ../partials/after-footer %>
