<% include ../partials/head %> <% include ../partials/nav %>
<main class="main">
    <section class="profile">
        <img class="profile__image" src="" alt="">
        <h2 class="profile__name"></h2>
    </section>
</main>
<% include ../partials/after-footer %>
