@import "variables";
@import "header";

body {
	margin: 0;
	padding: 0;
}

.main {
    // background: $bg-Color;
    background: url("../images/background/download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	height: 100vh;
    width: 100vw;
}