@import "variables";
@import "header";

body {
	margin: 0;
	padding: 0;
}

.main {
	background: $bg-Color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	height: 200vh;
    width: 100%;
}