.header {
  position: relative;
}

.header__wrapper {
  position: absolute;
  width: 100%;
  // position: fixed;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  .wrapper__logo {
    width: 50px;
    text-decoration: none;
    color: none;
    font-weight: bold;
    margin: 75px 0 0 25px;
    text-shadow: 3px 3px 0 #000000, -1px -1px 0 #ff0000, 1px -1px 0 #ff0000,
      -1px 1px 0 #ff0000, 1px 1px 0 #ff0000;
    font: 30px/1 "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 5px;
    text-indent: -5px;
    transform: rotate(-10deg);
  }

  .nav__ul {
    display: flex;
    list-style-type: none;
    margin: 0 40px 0 0;
    .ul__li {
      text-decoration: none;
      .li__a {
        font-weight: bold;
        text-decoration: none;
        margin: 10px;
        color: #ffffff;
      }
    }
  }
}
