.profil {
  position: absolute;
  top: 10rem;
  left: 13rem;
}

.image__circle {
  background: white;
  border-radius: 50%;
  padding: 40px;
  border: solid #754ef9 15px;
}

.profil__img {
  background: black;
  height: 250px;
  border-radius: 50%;
  border: solid #754ef9 20px;
}

.myWork-banner {
    position: absolute;
    top: 19rem;
    right: 21rem;
    width: 28.5rem;
    height: 9.0625rem;
}