@import "base";
@import "profil";
@import "learnMore";
@import "projects";
@import "testimonial";


.main {
  background: #754EF9;
  width: 100%;
  height: 100vh;
}

.main__overlay {
  background: white;
  width: 65vw;
  height: 98vh;
  float: right;
}